.place {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 460fr 484fr;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraphs";
  column-gap: 40px;
  row-gap: 48px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440fr 456fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    padding-bottom: 71px;
    grid-template-columns: 340fr 352fr;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraphs";
    row-gap: 32px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    padding-bottom: 49px;
  }
}
